 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/1553165447013.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 355px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 87px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-block-3cf1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3cf1-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 365px;
  right: auto;
}

.u-block-3cf1-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 366px;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/download.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 146px 75px 0;
}

.u-section-2-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px 540px 60px 53px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-1 .u-text-2 {
    margin-top: -12px;
    margin-right: 393px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: 171px;
    margin-left: 29px;
  }

  .u-section-2-1 .u-text-2 {
    margin-top: -37px;
    margin-right: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 197px;
    margin-left: 18px;
  }

  .u-section-2-1 .u-text-2 {
    margin-top: -50px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 222px;
    margin-left: 23px;
  }

  .u-section-2-1 .u-text-2 {
    margin-top: -71px;
    margin-bottom: 28px;
  }
}

 .u-section-2-2 {
  background-image: url("images/how-you-can-make-a-difference-1600x900_0.gif");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 801px;
}

.u-section-2-2 .u-text-1 {
  margin: 778px -80px 0 1094px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-2 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 994px;
  }
}

@media (max-width: 991px) {
   .u-section-2-2 {
    background-position: 100% 51.06%;
    background-size: 110%;
  }

  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 884px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 794px;
  }
}

@media (max-width: 575px) {
   .u-section-2-2 {
    background-position: 100% 84.39%;
    background-size: auto 110%;
  }

  .u-section-2-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2-2 .u-text-1 {
    margin-left: 694px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 143px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 73px;
}

.u-section-3 .u-container-layout-1 {
  padding: 24px 36px 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 18px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 73px;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 390px;
}

.u-section-4 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  width: 232px;
  margin: 18px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 18px auto 0;
}

.u-section-4 .u-text-2 {
  width: 132px;
  margin: 31px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  width: 232px;
  margin: 18px auto 0;
}

.u-section-4 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 18px auto 0;
}

.u-section-4 .u-text-4 {
  width: 132px;
  margin: 31px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-5 {
  width: 232px;
  margin: 18px auto 0;
}

.u-section-4 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 18px auto 0;
}

.u-section-4 .u-text-6 {
  width: 132px;
  margin: 31px auto 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 505px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1091px;
  margin: 43px 0 23px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 439px;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-5 .u-image-1 {
  width: 158px;
  height: 158px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 624px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 15px;
}

.u-section-5 .u-text-2 {
  margin: 56px 200px 0 49px;
}

.u-section-5 .u-btn-1 {
  margin: -19px 35px 0 auto;
}

.u-section-5 .u-text-3 {
  text-align: center;
  margin: 27px 222px 0 57px;
}

.u-section-5 .u-btn-2 {
  margin: -16px 35px 0 auto;
}

.u-section-5 .u-btn-3 {
  margin: 30px 35px 0 auto;
}

.u-section-5 .u-text-4 {
  text-align: center;
  margin: -42px 222px 0 83px;
}

.u-section-5 .u-btn-4 {
  margin: 72px 35px 0 auto;
}

.u-section-5 .u-text-5 {
  text-align: center;
  margin: -34px 222px 9px 129px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 153px;
    margin-left: 2px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 175px;
    margin-left: 10px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 175px;
    margin-left: 37px;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 175px;
    margin-left: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 76px;
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 534px;
}

.u-section-6 .u-list-1 {
  height: auto;
  width: 1060px;
  margin: 60px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 414px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 403px;
  min-height: 180px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 14px 36px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-2 {
  width: 403px;
  min-height: 180px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 14px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 14px 36px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-3 {
  width: 403px;
  min-height: 180px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 14px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 14px 36px 0 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-4 {
  width: 403px;
  min-height: 181px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 14px auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 14px 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-6 .u-group-2 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-6 .u-group-3 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }

  .u-section-6 .u-group-4 {
    width: 333px;
    min-height: 169px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-6 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-6 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-6 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-6 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }
}